<!DOCTYPE html>
<html>
  <head>
    <title>SSR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main id="app"><div><%- appHTML -%></div></main>
    <script src="/bundle.js"></script>
  </body>
</html>

